@{
  Layout = "_Layout";
}

@using BestRestaurant.Models
@model BestRestaurant.Models.Review

<h2>Review Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This review does not belong to any resturants.</p>
}
else
{
  <h4>Restaurants the review belongs to:</h4>
  <ul>
  @foreach(RestaurantReview join in Model.JoinEntities)
  {
    <li>@join.Restaurant.Name</li>
    @using (Html.BeginForm("DeleteJoin", "Reviews"))
{
  @Html.Hidden("joinId", @join.RestaurantReviewId)
  <input type="submit" value="Delete"/>
}
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>

<p>@Html.ActionLink("Add an Restaurant", "AddRestaurant", new { id = Model.ReviewId })</p>

<p>@Html.ActionLink("Edit Review", "Edit", new { id = Model.ReviewId })</p>

<p>@Html.ActionLink("Delete Review", "Delete", new { id = Model.ReviewId })</p>