@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Review

<h2>Edit</h2>

<h4>Edit this review: @Html.DisplayFor(model => model.Rating)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ReviewId)

    @Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>